<div class="card-new" data-filter-target="filterable" data-filter-key="<%= artist.name.downcase %>" >
  <div class="heart-background" data-controller="follow">
    <%= link_to toggle_follow_artist_path(artist), remote: true, method: :post, data: { action: "click->follow#toggle"} do %>
      <%= user.favorited?(artist) ? '<i class="fas fa-heart" data-follow-target="icon"></i>'.html_safe : '<i class="far fa-heart" data-follow-target="icon"></i>'.html_safe %>
    <% end %>
  </div>
  <span class="card-new-title"><%= artist.name %></span>
  <%= image_tag artist.image_url, alt: "Artist Image" %>
</div>
