<div class="artist-card card-wrapper <%= "middle-#{middle}" if params[:controller] == "artists" %>" data-controller="follow" >
  <div class="card-details d-flex flex-row-reverse">
    <div class="shrinkable"> <!-- this div is here for shrink_artist_name.js -->
      <span class="card-new-title">// <%= artist.name.truncate(36) %></span>
      <%= link_to toggle_follow_artist_path(artist), class: "heart", remote: true, method: :post, data: { action: "click->follow#toggle"} do %>
        <%= user.favorited?(artist) ? '<i class="fas fa-heart" data-follow-target="icon"></i>'.html_safe : '<i class="far fa-heart" data-follow-target="icon"></i>'.html_safe %>
      <% end %>
    </div>
  </div>
  <div class="card-new" style="background-image: url('<%= artist.image_url %>')">
  </div>
</div>

