<div class="container artists-find">
  <div class="search my-5">
    <%= render "components/search", placeholder_text: "Search for an artist..." %>
  </div>

  <% if @query %>
    <%= link_to "Back to Browse", artists_path, class: "btn btn-filled", id: "back-to-browse" %>
    <div class="artist-cards row">
        <% @artists.each do |artist| %>
          <div class="col-md-4">
            <% if Artist.find_by_name(artist.name) == nil %>
                <%= render "components/spotify_artist_card", artist: artist, user: current_user %>
            <% else %>
              <% db_artist = Artist.find_by_name(artist.name) %>
              <%= render 'components/artist_card', artist: db_artist, user: current_user %>
            <% end %>
          </div>
        <% end %>
    </div>
  <% else %>
    <div class="recommendation-heading">
      <h4>Recommended for you</h4>
    </div>
    <div class="artist-cards row">
      <% if @recommendations%>
        <% @recommendations.each do |artist, index| %>
          <div class="col-md-4">
            <% if Artist.find_by_name(artist.name) == nil %>
                <%= render "components/spotify_artist_card", artist: artist, user: current_user %>
            <% else %>
              <% db_artist = Artist.find_by_name(artist.name) %>
              <%= render 'components/artist_card', artist: db_artist, user: current_user %>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
