<div class="container artists-find" data-controller="filter">

  <div class="fixed-bottom">
    <%= link_to 'Sign in with Spotify', '/auth/spotify', class: "btn btn-success", method: :post %>
  </div>


  <div class="search my-5">
    <%= render "components/search", placeholder_text: "Search for an artist..." %>
  </div>

  <% if @query %>
    <h2>Search results for <%= @query %>:</h2>
    <%= link_to "Back to Browse", artists_path %>
  <% end %>

  <% unless current_user.all_favorited.empty? || @query %>
    <h3>Recommended for you:</h3>
    <div class="artist-cards row">
      <% @recommendations.each do |artist, index| %>
        <div class="col-4">
          <% if Artist.find_by_name(artist.name) == nil %>
              <%= render "components/spotify_artist_card", artist: artist, user: current_user %>
          <% else %>
            <% db_artist = Artist.find_by_name(artist.name) %>
            <%= render 'components/artist_card', artist: db_artist, user: current_user %>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>

  <div class="artist-cards row">
    <% @artists.each do |artist| %>
      <div class="col-sm">
        <%= render 'components/artist_card', artist: artist, user: current_user %>
      </div>
    <% end %>
    <% if @query %>
      <% @spotify_artists.each do |artist| %>
        <% id = artist.spotify_id %>
        <% unless Artist.search_by_id(id).first %>
          <div class="col-sm">
            <%= render "components/spotify_artist_card", artist: artist, user: current_user %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>

