<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1587731556938-38755b4803a6?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=900&ixid=MnwxfDB8MXxhbGx8fHx8fHx8fHwxNjI0MjU0MTcx&ixlib=rb-1.2.1&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1600);">
  <div class="container">
    <h1>Track new releases for your favorite <span id="banner-typed-text"></span></h1>
    <div class="mt-5">
      <% unless current_user %>
        <%= link_to "Signup", new_user_registration_path, class: "btn btn-light btn-lg"  %>
        <%= link_to "Login", new_user_session_path, class: "btn btn-light btn-lg"  %>
      <% else %>
        <%= link_to "See New Releases", feed_path, class: "btn btn-light btn-lg"  %>
        <%= link_to "Search Spotify", artists_path, class: "btn btn-light btn-lg"  %>
      <% end %>
    </div>
  </div>
</div>

<div class="container mt-3 vh-25">
  <div class="card-deck">
    <div class="card text-center">
      <div class="card-body">
        <h5 class="card-title">Follow your favorites</h5>
        <p class="card-text">Search for your favorite musicians using Spotify's database of artists.</p>
        <%= link_to "Go to Follow Page", artists_path, class: "btn btn-dark btn-lg"  %>
      </div>
    </div>
    <div class="card text-center">
      <div class="card-body">
        <h5 class="card-title">See new releases</h5>
        <p class="card-text">See new releases from your favorites every day on the Feed.</p>
        <%= link_to "Go to Feed Page", feed_path, class: "btn btn-dark btn-lg"  %>
      </div>
    </div>
    <div class="card text-center">
      <div class="card-body">
        <h5 class="card-title">Get notified</h5>
        <p class="card-text">Receive an email digest each week with new releases from your followed artists.</p>
        <%= link_to "Signup Today", new_user_registration_path, class: "btn btn-dark btn-lg"  %>
      </div>
    </div>
  </div>
</div>

<%= render 'components/footer' %>
