<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_url 'record_store.jpeg' %>);">
  <div class="container">
    <h1>Track new releases for your favorite <span id="banner-typed-text"></span></h1>
    <div class="mt-5">
      <% unless current_user %>
        <%= link_to "Signup", new_user_registration_path, class: "btn btn-light btn-lg"  %>
        <%= link_to "Login", new_user_session_path, class: "btn btn-light btn-lg"  %>
      <% else %>
        <%= link_to "See New Releases", feed_path, class: "btn btn-lg btn-outline" %>
        <%= link_to "Find New Artists", artists_path, class: "btn btn-lg btn-filled" %>
      <% end %>
    </div>
  </div>
</div>

<%= render 'components/footer' %>
