<div class="container artists-find" data-controller="filter">
  <div class="search my-5">
    <%= render "components/search", placeholder_text: "Find an artist you're following..." %>
  </div>

  <% if !@followed_artists.empty? %>
    <div class="artist-cards row">
      <% @followed_artists.each do |artist| %>
        <div class="col-md-4">
          <%= render 'components/artist_card', artist: artist, user: current_user %>
        </div>
      <% end %>
    </div>
  <% else %>
    <% if @query %>
      <h3 class="no-feed-message">You don't follow any artists matching "<%= @query %>"
      <br><%= link_to "Find more artists to follow", artists_path %></h3>
    <% else %>
      <h3 class="no-feed-message">You are not following anyone yet...go ahead and <%= link_to "follow some artists!", artists_path %></h3>
    <% end %>
  <% end %>
</div>

<% if current_user.spotify_id == nil && current_user.dismissed == false %>
  <%= render 'components/auto_spotify_modal' %>
<% end %>
